certifi
charset-normalizer
click
colorama
Flask
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
pyodbc
python-dateutil
pytz
rank-bm25
requests
six
typing-extensions
urllib3
Werkzeug
wincertstore
zipp
